.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 80vw;
  background-color: #f0f8ff;
  text-align: center;
}

.homepage-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.category {
  margin-bottom: 20px;
}

.category h2 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.game-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.game-button:hover {
  background-color: #0056b3;
}
