.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 80vw;
    background-color: #f0f8ff;
    text-align: center;
  }
  
  .homepage-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .game-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .game-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .game-button:hover {
    background-color: #0056b3;
  }
  